<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <p1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, blanditiis in corrupti ullam et qui. Impedit harum natus ea soluta, earum magni eaque temporibus unde quo maiores incidunt modi rem.</p1>
    <p2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor explicabo sed quia, beatae, voluptas hic vel aspernatur nam ipsam praesentium illum nostrum repellat ducimus, in sunt quaerat tempora quos doloribus.</p2>
</body>
</html>