<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Contact</h1>
    <p1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptatibus quos maiores voluptates nihil expedita, neque quasi doloribus, repellendus architecto reiciendis aperiam id, deserunt inventore laudantium enim quae dicta commodi.</p1>
    <p2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat molestiae ullam, et, quisquam veniam beatae, repellendus nobis quia minus id libero ad? In et, qui asperiores sed soluta quam inventore!</p2>
</body>
</html>