<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is rhe home page !</h1>
    <p1> I love the Django ^_^</p1>
    <p2>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که </p2>
    <p3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate beatae laboriosam praesentium libero, nemo velit perferendis nobis aliquam, assumenda fugit amet blanditiis placeat numquam nam ut autem fuga eos cum!</p3>
    <p4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos tenetur impedit id, deserunt ad rem? Assumenda nam animi eius dignissimos quisquam necessitatibus ipsa aliquam incidunt quis! Assumenda fuga rem repellendus!</p4>
</body>
</html>